<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
  <link rel="stylesheet" href="style.css">
  <title>Detox</title>

</head>

<body>
  <div id="nav">
    <div class="is-size-2 has-text-centered">

    </div>
    <br>
  </div>
  <div id="app" class="p-6">
    <template>
      <div id="score" class="container is-size-2 has-text-centered" v-if="showScore">
        {{ currScore }}
      </div>
      <div class=" container" v-else>
        <br><br><br><br><br><br><br>
        <hr>
        <div id="helper1" v-bind:class="{'makeRed':clicksReached}">
          +
        </div>
        <div id="helper2" v-bind:class="{'makeRed':clicksReached}">
          +
        </div>
        <div class=" abc p-4">
          <div class="my-3">
            {{a}}
          </div>
          <b-button onblur="this.focus()" autofocus @click="startAgain()" class="btn2 is-size-5">
            <span id="btn1">&lt;-</span>
          </b-button>
        </div>
        <hr>
        <!-- the below portion is to be used for testing stuff -->
        <div v-if="testing" class="container has-text-centered">
          {{ numOfClicks }}
        </div>
      </div>
    </template>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
  <script src="https://unpkg.com/axios@0.14.0/dist/axios.min.js"></script>
  <script>

    var application = new Vue({
      el: app,
      created() {
        this.readFromApi()
      },
      updated() {
        this.testing = false
      },

      data() {
        return {
          apiVal: '609d874eda8daf7e8e6956fe',
          alreadyRunning: false,
          a: "",
          myinterval: 0,
          makeItSlow: 20,
          upHill: true,
          numOfClicks: "",
          currScore: "",
          showScore: false,
          valFromAPI: "",
          gamePlayed: false,
          clicksReached: false,
          testing: false,
        };
      },
      methods: {
        randMinMax(min, max) { // min and max included 
          return Math.floor(Math.random() * (max - min + 1) + min);
        },
        async readFromApi() {
          this.numOfClicks = this.randMinMax(184, 224)
          let key = "$2b$10$Xl2NyiSmE/VknyXAey2FG.7ChADMroxnQIgCFF87W8w4p9ymeQQba"
          let id = this.apiVal// during back musical experiments
          config = {
            headers: {
              'Content-Type': 'application/json',
              'X-Master-Key': key
            }
          }
          try {
            const res = await axios.get("https://api.jsonbin.io/v3/b/" + id + "/latest", config)
            console.log("SUCCESS ON READ", res.data.record.currScore)
            this.valFromAPI = Number(res.data.record.currScore)
            this.currScore = this.valFromAPI
            localStorage.setItem("countG2Tox", Number(this.valFromAPI))
            this.addToA()
          } catch (error) {
            console.log(error)
          }
        },
        async addToApi() {
          let key = "$2b$10$Xl2NyiSmE/VknyXAey2FG.7ChADMroxnQIgCFF87W8w4p9ymeQQba"
          let id = this.apiVal// during back musical experiments
          let newVal = Number(this.currScore) + Number(1)
          let newPutObj = new Object()
          newPutObj.currScore = newVal
          let newPutJson = JSON.stringify(newPutObj)
          config = {
            headers: {
              'Content-Type': 'application/json',
              'X-Master-Key': key
            }
          }
          try {
            const res = await axios.put("https://api.jsonbin.io/v3/b/" + id, newPutJson, config)
            console.log("SUCCESS ON PUT")
            window.open('', '_self', ''); window.close()
          } catch (error) {
            console.log(error)
          }
        },
        addToA() {
          this.numOfClicks -= 1
          if (this.numOfClicks < 2) {
            this.clicksReached = true
          }
          if (this.numOfClicks < 1) {
            this.gamePlayed = true
            this.addToApi()
          }
          if (this.upHill === true) {
            this.makeItSlow *= 1.3
            if (this.makeItSlow > 140) {
              this.upHill = false
            }
          }
          if (this.upHill === false) {
            this.makeItSlow *= 0.9
            if (this.makeItSlow < 20) {
              this.makeItSlow += 2.3
              setTimeout(() => {
                this.upHill = true
              }, 14000)
            }
          }
          if (!this.alreadyRunning) {
            this.alreadyRunning = true;
            this.myinterval = setInterval(() => {
              this.a = this.a + "||       "
              if (this.a.length > 620) {
                clearInterval(this.myinterval)
              }
            }, this.makeItSlow)
            this.alreadyRunning = false;
            return this.a
          }
        },
        startAgain() {
          this.a = ""
          clearInterval(this.myinterval)
          this.addToA()
        }
      },
      computed: {
        len() {
          return this.a.length
        }
      },
      watch: {
        len(val) {
          if (val > 616) {
            this.currScore = localStorage.getItem('countG2Tox');
            if (this.gamePlayed) {
              this.currScore = Number(this.currScore) + Number(1)
            }
            this.showScore = true
            setTimeout(() => {
              window.open('', '_self', ''); window.close();
            }, 15000)
          }
        }
      }

    })
  </script>
</body>

</html>