.abc{
  display:flex;
  justify-content:space-between;
  color:#1e6d41;
}
.abc > * {
  display: inline-block;
}
.btn2{
  outline: none !important ;
  box-shadow: none!important ;
  background-color: rgb(6, 66, 37);
  color:#1e6d41;
  border:black;
}
.btn2:focus {
  outline: none !important ;
  box-shadow: none!important ;
  color:#1e6d41;
}
/* #btn1{
  border: 0.5px solid lightgray;
  padding-left:15px;
  padding-right:15px;
  padding-top:10px;
  padding-bottom:10px;
} */
.btn2 span{
color:#1e6d41;
}
#app{
zoom:150%;
}
html{
background-color: rgb(4, 56, 31);
}
hr{
background-color:transparent;
}
#helper1{
position:fixed;
left:32em;
top:311px;
color:rgb(137, 160, 103);
}
#helper2{
position:fixed;
left:45em;
top:311px;
color:rgb(137, 160, 103);
}
#score{
  color:rgb(137, 160, 103);
}
.myfixed{
  position:fixed;
  width:61vw;
  text-align: center;
}
.makeRed{
  color:rgb(253, 116, 116)!important;
}